%h2 Log in
%hr
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, autofocus: true, :validate => false
    = f.input :password, :validate => true
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Log in"
%p
= render "devise/shared/links"
